# This is a basic workflow to help you get started with Actions

name: openssl-build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      # Runs a single command using the runners shell
      - name: Install Zig
        run: |
          cd $GITHUB_WORKSPACE
          curl -L -O https://ziglang.org/builds/zig-linux-x86_64-0.12.0-dev.926+3be8490d8.tar.xz
          tar -xf zig-linux-x86_64-0.12.0-dev.926+3be8490d8.tar.xz
          export PATH=$GITHUB_WORKSPACE/zig-linux-x86_64-0.12.0-dev.926+3be8490d8/:$PATH

      # Runs a set of commands using the runners shell
      - name: Build OpenSSL
        run: |
          cd $GITHUB_WORKSPACE
          export CC="zig cc"
          export CXX="zig c++"
          export AR="zig ar"
          
          git clone https://github.com/openssl/openssl.git
          cd openssl
          ./Configure
          make

      - name: Upload artifacts
        uses: actions/upload-artifact@v3.1.3
        with: 
          path: |
            ${{ github.workspace }}/openssl/*.a
            ${{ github.workspace }}/openssl/*.so
          
